body {
    font-family: sans-serif;
    text-align: center;
}
main {
    min-height: calc(100vh - 225px);
}
nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 1em;
}
nav li {
    margin-right: 1em;
}

nav a {
    color: #000;    
}

.special-headline {
    color: hotpink;
}

.rounded-full.rounded-full {
    border-radius: 50%;
}

.rounded-img {
    border-radius: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Indie Flower', cursive;
}

#my-id {
    color: red;
}

img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35) ;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.profile-picture {
    float: none;
    width: 25%;
    min-width: 150px;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.social-links {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    width: 250px;
    margin: 0 auto;
}
.social-links li {
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 20%;
}
.social-links img {
    border-radius: 24%;
}

/* Headline styles */
.ml11 {
    display: inline-block;
    font-weight: 900;
    position: relative;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #000;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
    opacity: 0;
  }

